$main: #16acc9;
$darkMain: #168dc9;
$black: #242424;
$gray: #dedede;
$lightGray: #f8f8f8;
$darkGray: #6c6c6c;
$textColor: #323232;
$green: #16c948;
$red: #c91616;

$container-width: 90%;

$duration: 0.15s;
